<h1>Algorithm Instruccions !</h1>
<p><b> Markov Al</b></p>
<ul>

  <li>You are expected to come up with a solution for at least 2 different problems using the files provided in this repository.                                              </li>
  <li>Functionality, design and implementation of the solution will be evaluated.                                                                                             </li>
  <li>  Use any of the available files (JSON, XML or both) as your source.                                                                                                    </li>
  <li>  Minimal requirements for the output of each exercise are expected, feel free to add any additional console or graphic representation you consider might be useful     </li>
  <li>  The core functionality and minimum requirements must be coded in C#                                                                                                   </li>

</ul>


<p><b> Notes </b></p>
<ul>


  <li>This Algorithm was created using Visual Studio and C# </li>

  <li>I created a couple of libraries to centralize the logic.</li>
  <li>In the client side I'm using .NET Core and Angular 4.0.</li>
  <li>The results are displayed like table, with angular components consuming WebApi.</li>
  <li>The start project is <b>WebAppMarkov</b> this must be as an initial project</li>
  <li><i>This solution was implemented to find any work in any direction <b>BONUS</b> </i>
  <li><i>The information is returning as expected JSon File according the instructions </i>
  <li>The solution is using the JSon files </li>
  <li>Please give the necessary access to folder <b><I>..\MarkovAlgorithm\WebAppMarkov\Files</I></b> Because I use this files from the file system</li>

</ul>

<p><b> How to use... </b></p>
<ul>
  <li>Press Markov Results Option in the Left Menu</li>
  <li>Should be displayed a table with the Algorithm Resolved</li>
  <li>In the above part of the window are all words from Words.JSon file displayed as checkboxes </li>
  <li>After check some input should paint the word in the table marking the word with yellow color. </li>
  <li>Added an image to show how it looks <b>Resolved.PNG</b></li>

</ul> 
