<h1>Algorithm Instruccions !</h1>
<p><b> Markov Al</b></p>
<ul>

  <li>You are expected to come up with a solution for at least 2 different problems using the files provided in this repository.                                              </li>
  <li>Functionality, design and implementation of the solution will be evaluated.                                                                                             </li>
  <li>  Use any of the available files (JSON, XML or both) as your source.                                                                                                    </li>
  <li>  Minimal requirements for the output of each exercise are expected, feel free to add any additional console or graphic representation you consider might be useful     </li>
  <li>  The core functionality and minimum requirements must be coded in C#                                                                                                   </li>

</ul>
